<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoreanalysis.mapper.PlanMapper">
  <resultMap id="BaseResultMap" type="com.scoreanalysis.bean.Plan">
    <id column="planId" jdbcType="VARCHAR" property="planid" />
    <result column="planName" jdbcType="VARCHAR" property="planname" />
    <result column="planYear" jdbcType="VARCHAR" property="planyear" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    planId, planName, planYear
  </sql>
  <select id="selectByExample" parameterType="com.scoreanalysis.bean.PlanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan
    where planId = #{planid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from plan
    where planId = #{planid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.scoreanalysis.bean.PlanExample">
    delete from plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scoreanalysis.bean.Plan">
    insert into plan (planId, planName, planYear
      )
    values (#{planid,jdbcType=VARCHAR}, #{planname,jdbcType=VARCHAR}, #{planyear,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scoreanalysis.bean.Plan">
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planid != null">
        planId,
      </if>
      <if test="planname != null">
        planName,
      </if>
      <if test="planyear != null">
        planYear,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planid != null">
        #{planid,jdbcType=VARCHAR},
      </if>
      <if test="planname != null">
        #{planname,jdbcType=VARCHAR},
      </if>
      <if test="planyear != null">
        #{planyear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scoreanalysis.bean.PlanExample" resultType="java.lang.Long">
    select count(*) from plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update plan
    <set>
      <if test="record.planid != null">
        planId = #{record.planid,jdbcType=VARCHAR},
      </if>
      <if test="record.planname != null">
        planName = #{record.planname,jdbcType=VARCHAR},
      </if>
      <if test="record.planyear != null">
        planYear = #{record.planyear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update plan
    set planId = #{record.planid,jdbcType=VARCHAR},
      planName = #{record.planname,jdbcType=VARCHAR},
      planYear = #{record.planyear,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scoreanalysis.bean.Plan">
    update plan
    <set>
      <if test="planname != null">
        planName = #{planname,jdbcType=VARCHAR},
      </if>
      <if test="planyear != null">
        planYear = #{planyear,jdbcType=VARCHAR},
      </if>
    </set>
    where planId = #{planid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scoreanalysis.bean.Plan">
    update plan
    set planName = #{planname,jdbcType=VARCHAR},
      planYear = #{planyear,jdbcType=VARCHAR}
    where planId = #{planid,jdbcType=VARCHAR}
  </update>
</mapper>