<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoreanalysis.dao.PlanMapper">
  <resultMap id="BaseResultMap" type="com.scoreanalysis.bean.Plan">
    <id column="plan_id" jdbcType="VARCHAR" property="planId" />
    <result column="paln_name" jdbcType="VARCHAR" property="palnName" />
    <result column="plan_year" jdbcType="VARCHAR" property="planYear" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    plan_id, paln_name, plan_year
  </sql>
  <select id="selectByExample" parameterType="com.scoreanalysis.bean.PlanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan
    where plan_id = #{planId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from plan
    where plan_id = #{planId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.scoreanalysis.bean.PlanExample">
    delete from plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scoreanalysis.bean.Plan">
    insert into plan (plan_id, paln_name, plan_year
      )
    values (#{planId,jdbcType=VARCHAR}, #{palnName,jdbcType=VARCHAR}, #{planYear,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scoreanalysis.bean.Plan">
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        plan_id,
      </if>
      <if test="palnName != null">
        paln_name,
      </if>
      <if test="planYear != null">
        plan_year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="palnName != null">
        #{palnName,jdbcType=VARCHAR},
      </if>
      <if test="planYear != null">
        #{planYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scoreanalysis.bean.PlanExample" resultType="java.lang.Long">
    select count(*) from plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update plan
    <set>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.palnName != null">
        paln_name = #{record.palnName,jdbcType=VARCHAR},
      </if>
      <if test="record.planYear != null">
        plan_year = #{record.planYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update plan
    set plan_id = #{record.planId,jdbcType=VARCHAR},
      paln_name = #{record.palnName,jdbcType=VARCHAR},
      plan_year = #{record.planYear,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scoreanalysis.bean.Plan">
    update plan
    <set>
      <if test="palnName != null">
        paln_name = #{palnName,jdbcType=VARCHAR},
      </if>
      <if test="planYear != null">
        plan_year = #{planYear,jdbcType=VARCHAR},
      </if>
    </set>
    where plan_id = #{planId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scoreanalysis.bean.Plan">
    update plan
    set paln_name = #{palnName,jdbcType=VARCHAR},
      plan_year = #{planYear,jdbcType=VARCHAR}
    where plan_id = #{planId,jdbcType=VARCHAR}
  </update>
</mapper>