<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoreanalysis.daoExtend.StudentExtendMapper">

    <!-- 获取所有学生信息 -->
    <select id="getStudents" resultType="com.scoreanalysis.pojo.StudentExtend">
        select
        A.sid as stuId, A.sname as stuName, B.clsname as className
        from student A join stu_class B on A.sclass = B.clsId join major C on A.smajor = C.mid
    </select>

    <!-- 获取学生的教学计划信息 -->
    <select id="getStudentPlanId" resultType="java.lang.String">
        select
        B.mplan
        from student A join major B on A.smajor = B.mid
    </select>
</mapper>